{% from "components/common/work-card/work-card.njk" import render as workCard %}
{% from "components/general/pagination/pagination.njk" import render as pagination %}

{% set worksContentItems = worksContentItems | default([
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short1.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short2.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short3.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short1.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short2.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short3.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short1.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short2.png",
        href: "./work-detail.html"
    },
    {
        title: "Токарная обработка металла с ЧПУ",
        image: "./assets/images/content/works-short3.png",
        href: "./work-detail.html"
    }
]) %}

{% set worksPaginationItems = worksPaginationItems | default([
    { type: "page", number: 1, url: "./works.html" },
    { type: "page", number: 2, url: "./works.html?page=2", active: true },
    { type: "page", number: 3, url: "./works.html?page=3" },
    { type: "ellipsis" },
    { type: "page", number: 15, url: "./works.html?page=15" }
]) %}

<section class="works-content section">
    <div class="container">
        <h1>Наши работы</h1>
        <div class="list">
            {% for item in worksContentItems %}
                {{ workCard(
                    title=item.title,
                    image=item.image,
                    href=item.href
                ) }}
            {% endfor %}
        </div>
        {{ pagination(items=worksPaginationItems) }}
    </div>
</section>