@use "core/breakpoints" as bp;

.works-content {
    padding-top: 48px;
    color: var(--color-3);
    background: var(--color-2);

    @include bp.mq(mobile-l) {
        padding-top: 33px;
    }

    h1 {
        margin: 0 0 40px;
        font-family: var(--font-family-primary);
        font-size: 48px;
        font-weight: 500;
        line-height: 120%;
        color: var(--color-3);
        text-transform: uppercase;

        &::after {
            display: block;
            width: 53px;
            height: 3px;
            margin-top: 10px;
            content: "";
            background: var(--color-blue);
        }

        @include bp.mq(tablet-xl) {
            font-size: 40px;
        }

        @include bp.mq(mobile-l) {
            margin-bottom: 25px;
            font-size: 28px;

            &::after {
                width: 50px;
            }
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 42px 20px;
        margin-bottom: 44px;

        @include bp.mq(laptop) {
            gap: 44px 18px;
        }

        @include bp.mq(tablet-xl) {
            gap: 41px 11px;
        }

        @include bp.mq(mobile-xl) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
            gap: 30px 20px;
        }
    }

    .work-card {
        min-width: 0;
        height: 100%;
    }
}
