<div class="copyright">
    <span>©2026 Все права защищены</span>
    <a href="./policy.html">Политика конфиденциальности</a>
    <a href="https://artfactor.ru" target="_blank" rel="noopener noreferrer">Сайт сделан в АртФактор</a>
</div>