@use "core/breakpoints" as bp;
@use "core/popup" as *;

.popup-feedback-success {
    @include popup(645px);

    padding: 90px 77px 85px;
    text-align: center;

    @include bp.mq(mobile-l) {
        padding: 50px 20px 28px;
    }

    .popup-close {
        position: absolute;
        top: 33px;
        right: 28px;
        z-index: 2;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 31px;
        height: 31px;
        padding: 0;
        cursor: pointer;
        background: transparent;
        border: none;

        @include bp.mq(mobile-l) {
            top: 10px;
            right: 10px;
        }

        svg {
            display: block;
            width: 31px;
            height: 31px;

            @include bp.mq(mobile-l) {
                width: 20px;
                height: 20px;
            }
        }

        &:hover {
            opacity: 0.8;
        }
    }

    .block {
        .heading {
            align-items: center;
            margin-bottom: 0;
            text-align: center;

            .title {
                position: relative;
                display: inline-block;
                padding: 0 0 14px;
                margin: 0;
                font-family: var(--font-family-primary);
                font-size: 36px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                color: #07192a;
                text-align: center;
                text-transform: uppercase;

                @include bp.mq(mobile-l) {
                    padding-bottom: 12px;
                    font-size: 26px;
                }

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 56px;
                    height: 4px;
                    content: "";
                    background: var(--color-blue);
                    border-radius: 2px;
                    transform: translateX(-50%);
                }
            }

            .text {
                margin: 16px 0 0;
                font-family: var(--font-family-primary);
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 150%;
                color: #07192a;
                text-align: center;
                text-transform: none;

                @include bp.mq(mobile-l) {
                    margin-top: 12px;
                    font-size: 14px;
                }
            }
        }
    }
}
