{% macro render(
        title="",
        image="",
        imageAlt="",
        href="./news-detail.html",
        date="",
        excerpt="",
        class=""
    ) %}
    {% set cardClasses = "news-card" %}
    {% if date or excerpt %}
        {% set cardClasses = cardClasses + " listing" %}
    {% endif %}
    {% if class %}
        {% set cardClasses = cardClasses + " " + class %}
    {% endif %}

    <a class="{{ cardClasses }}" href="{{ href }}">
        <div class="media">
            <img
                class="lazy"
                src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                data-src="{{ image }}"
                alt="{{ imageAlt or title }}"
                width="346"
                height="231"
            />
        </div>
        {% if date %}
            <div class="date">{{ date }}</div>
        {% endif %}
        {% if title %}
            <div class="name">{{ title }}</div>
        {% endif %}
        {% if excerpt %}
            <div class="excerpt">{{ excerpt }}</div>
        {% endif %}
        {% if date or excerpt %}
            <span class="read">Читать</span>
        {% endif %}
    </a>
{% endmacro %}