<div id="popup-callback-success" class="popup-callback-success">
    <div class="block">
        <div class="heading">
            <div class="title">Заказать звонок</div>
            <div class="subtitle">Спасибо за обращение!</div>
            <div class="text">В ближайшее время, по указанному номеру с вами свяжется наш специалист.</div>
        </div>
        <div class="image">
            <picture class="lazy-loader">
                <img
                    class="lazy"
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                    data-src="./assets/images/system/popup.png"
                    alt=""
                />
            </picture>
        </div>
    </div>
</div>