@use "core/breakpoints" as bp;

.benefits {
    color: var(--color-3);
    background: var(--color-2);

    .benefits-inner {
        display: grid;
        grid-template-columns: minmax(0, 650px) minmax(0, 1fr);
        gap: 60px;
        align-items: start;
        justify-content: space-between;

        @include bp.mq(laptop) {
            gap: 48px;
        }

        @include bp.mq(tablet-xl) {
            grid-template-columns: 1fr;
            gap: 40px;
        }

        @include bp.mq(mobile-l) {
            gap: 30px;
        }
    }

    .content {
        max-width: 650px;

        @include bp.mq(laptop-m) {
            max-width: 545px;
        }

        @include bp.mq(tablet-xl) {
            max-width: none;
        }
    }

    h2 {
        color: var(--color-3);
    }

    .text {
        margin-bottom: 40px;
        font-family: var(--font-family-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%;
        color: var(--color-3);

        p {
            margin: 0;
        }

        @include bp.mq(mobile-l) {
            margin-bottom: 30px;
        }
    }

    .actions {
        .button {
            @include bp.mq(mobile-l) {
                align-self: auto;
                width: fit-content;
            }
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(2, 346px);
        gap: 20px;
        justify-content: end;
        padding: 0;
        margin: 0;
        list-style: none;

        @include bp.mq(tablet-xl) {
            justify-content: center;
        }

        @include bp.mq(tablet-sm) {
            grid-template-columns: 1fr;
            gap: 10px;
        }

        @include bp.mq(mobile-l) {
            grid-template-columns: 1fr;
        }
    }

    .item {
        position: relative;
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        gap: 12px;
        width: 346px;
        height: auto;
        padding: 30px;
        overflow: hidden;
        background: #fff;
        border-radius: 10px;

        @include bp.mq(tablet-sm) {
            width: 100%;
            padding: 20px;
        }
    }

    .letter {
        position: absolute;
        right: -10px;
        bottom: -10px;
        z-index: 0;
        pointer-events: none;

        svg {
            display: block;
            width: 140px;
            height: auto;
        }
    }

    .name,
    .desc {
        position: relative;
        z-index: 1;
    }

    .name {
        font-family: var(--font-family-primary);
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        color: #061e49;
    }

    .desc {
        font-family: var(--font-family-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        color: #061e49;
    }
}
