<section class="about-text section">
    <div class="container">
        <div class="about-text-inner">
            <div class="media">
                <img
                    class="lazy"
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                    data-src="./assets/images/content/about-text-img.jpg"
                    alt="Производство Prtara"
                    width="700"
                    height="520"
                />
            </div>
            <div class="content">
                <h2>Заголовок</h2>
                <div class="text">
                    <p>
                        Мы постоянно развиваемся и заботимся о том, чтобы услуги предоставлялись клиентам с максимальным
                        качеством и в самые сжатые сроки. Мы делаем многое для того, чтобы обработка любого
                        металлоизделия отвечала самым высоким требованиям. Даже сложные услуги выполняются нашими
                        специалистами с гарантией качества и в минимальные сроки.
                    </p>
                    <p>Компания является профессионалом в области обработки черных металлов, нержавейки и алюминия.</p>
                </div>
            </div>
        </div>
    </div>
</section>