// --------------------------------------
// Golos Text Font Family
// --------------------------------------

@font-face {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/GolosText-Regular.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/GolosText-Medium.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/GolosText-SemiBold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: "Golos Text";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/GolosText-Bold.ttf") format("truetype");
    font-display: swap;
}

@font-face {
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/Roboto-ExtraBold.ttf") format("truetype");
    font-display: swap;
}
