@use "core/breakpoints" as bp;

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    height: auto;
    min-height: 100vh;
    scroll-behavior: smooth;
}

body {
    height: auto;
    min-height: 100vh;
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: var(--font-size-paragraph-m);
    font-weight: 400;
    line-height: 1.4;
    color: var(--color-black);
    background: var(--color-white);
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &.is-fixed {
        overflow: hidden;
    }

    &.is-loading {
        overflow: hidden;
    }
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
    margin: 0;
    font-family: inherit;
}

a:not(.button) {
    font-family: var(--font-family-primary);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--color-blue);
    text-decoration: none;
    transition: color 0.3s ease;

    &:hover {
        color: var(--color-blue-hover);
        text-decoration: none;
    }

    @include bp.mq(laptop-m) {
        font-size: 16px;
    }

    @include bp.mq(tablet-l) {
        font-size: 15px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: var(--font-family-primary);
    font-weight: 500;
    line-height: 120%;
    color: var(--color-black);
}

h1 {
    font-size: var(--font-size-h1);

    &.large {
        font-size: var(--font-size-h1-large);
    }
}

h2 {
    font-size: var(--font-size-h2);
}

h3 {
    font-size: var(--font-size-h3);
}

h4 {
    font-size: var(--font-size-h4);
}

h5 {
    font-size: var(--font-size-h5);
}

h6 {
    font-size: var(--font-size-h5);
}

p {
    margin: 0;
    font-size: var(--font-size-paragraph-m);
    line-height: 140%;
}

.paragraph-l {
    font-size: var(--font-size-paragraph-l);
    line-height: 140%;
}

.paragraph-m {
    font-size: var(--font-size-paragraph-m);
    line-height: 140%;
}

.paragraph-s {
    font-size: var(--font-size-paragraph-s);
    line-height: 140%;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip-path: inset(0);
}

.page-stub {
    margin: 0;
    font-family: var(--font-family-primary);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
    color: var(--color-blue);
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: calc(var(--container-width) + var(--container-padding) * 2);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}

// --------------------------------------
// -- Page
// --------------------------------------

.page {
    position: relative;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .page-header {
        position: relative;
        z-index: 2;
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 0;
        margin: 0;

        .heading {
            .title {
                margin: 0;
            }
        }
    }

    .page-container {
        width: 100%;

        .page-content {
            min-width: 0;
        }
    }
}

// --------------------------------------
// -- Fancybox
// --------------------------------------

.fancybox__backdrop {
    background: rgb(255 255 255 / 70%);
    backdrop-filter: blur(17.75px);
}

// --------------------------------------
// -- Others
// --------------------------------------

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 110;
    visibility: hidden;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: rgb(19 74 155 / 80%);
    backdrop-filter: blur(3.9px);
    opacity: 0;
    transition:
        opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1),
        visibility 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    &.is-active {
        visibility: visible;
        pointer-events: auto;
        opacity: 1;
    }
}
