@use "core/breakpoints" as bp;

@mixin reset-child-outer-margins {
    > *:first-child {
        margin-top: 0;
    }

    > *:last-child {
        margin-bottom: 0;
    }
}

@mixin section-page-head-padding {
    padding-top: 34px;

    @include bp.mq(laptop) {
        padding-top: 32px;
    }

    @include bp.mq(tablet) {
        padding-top: 20px;
    }
}

@mixin line-clamp($lines: 3) {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}
