{% from "components/general/button/button.njk" import render as button %}
{% from "components/general/input/input.njk" import render as input %}
{% from "components/general/textarea/textarea.njk" import render as textarea %}
{% from "components/general/consent-checkbox/consent-checkbox.njk" import render as consentCheckbox %}

<form class="form" data-validate>
    <div class="grid">
        <div class="field">
            <label class="label" for="popup-callback-name">Контактное лицо:*</label>
            {{ input(
                type="text",
                id="popup-callback-name",
                name="name",
                placeholder="ФИО",
                autocomplete="name",
                required=true,
                minlength="2",
                data={"error": "Введите имя (минимум 2 буквы)"}
            ) }}
        </div>
        <div class="field">
            <label class="label" for="popup-callback-phone">Телефон:*</label>
            {{ input(
                type="tel",
                id="popup-callback-phone",
                name="phone",
                placeholder="+7",
                autocomplete="tel",
                data={"mask": "phone", "error": "Введите полный номер телефона"},
                required=true
            ) }}
        </div>
        <div class="field">
            <label class="label" for="popup-callback-message">Сообщение</label>
            {{ textarea(
                id="popup-callback-message",
                name="message",
                placeholder="Уточняющие комментарии. Поле не обязательно к заполнению",
                rows=1,
                data={"error": "Введите сообщение"}
            ) }}
        </div>
        <div class="field-consent">
            {{ consentCheckbox(
                id="popup-callback-consent",
                text='Я согласен(на) на обработку моих персональных данных в соответствии с <a href="./policy.html">Согласием на обработку персональных данных</a> и <a href="./policy.html">Политикой конфиденциальности</a>',
                data={"error": "Необходимо отметить"},
                required=true
            ) }}
        </div>
        <div class="actions">
            {{ button(
                text="Заказать",
                type="submit",
                disabled=true
            ) }}
        </div>
    </div>
</form>