@use "core/breakpoints" as bp;

.logo {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    svg {
        display: block;
        width: 159px;
        height: auto;
        max-width: 100%;
    }

    &:hover {
        text-decoration: none;
        opacity: 0.85;
    }
}
