@use "core/breakpoints" as bp;
@use "core/mixins" as mixins;

.section {
    padding: 60px 0;

    @include bp.mq(laptop-m) {
        padding: 54px 0;
    }

    @include bp.mq(tablet-l) {
        padding: 42px 0;
    }

    &.is-page-head {
        @include mixins.section-page-head-padding;
    }
}
