@use "core/breakpoints" as bp;

.page:has(.error-404) {
    .page-container,
    .page-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        min-height: 0;
    }
}

.error-404 {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 54px 0 335px;
    color: var(--color-black);
    background: var(--color-white);

    @include bp.mq(laptop) {
        padding: 50px 0 94px;
    }

    @include bp.mq(tablet-l) {
        padding: 21px 0 58px;
    }

    @include bp.mq(mobile-l) {
        padding: 20px 0 73px;
    }

    .error-404-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .code {
        font-family: var(--font-family-roboto);
        font-size: 260px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        color: var(--color-blue);
        text-transform: uppercase;
        text-shadow: 7px 13px 0 #a4b9d8;

        @include bp.mq(tablet-l) {
            font-size: 204px;
        }

        @include bp.mq(mobile-l) {
            font-size: 144.5px;
            text-shadow: 5px 9px 0 #a4b9d8;
        }
    }

    h1 {
        max-width: 100%;
        margin: 35px 0 0;
        font-family: var(--font-family-primary);
        font-size: 36px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: var(--color-black);
        text-transform: uppercase;
        white-space: nowrap;

        @include bp.mq(tablet-l) {
            margin-top: 29px;
            font-size: 28px;
        }

        @include bp.mq(mobile-l) {
            max-width: 301px;
            margin-top: 18px;
            font-size: 18px;
            white-space: normal;
        }
    }

    .text {
        max-width: 100%;
        margin: 28px 0 0;
        font-family: var(--font-family-primary);
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--color-black);

        @include bp.mq(tablet-l) {
            margin-top: 12px;
            font-size: 18px;
        }

        @include bp.mq(mobile-l) {
            max-width: 299px;
            margin-top: 39px;
            font-size: 15px;
        }

        a:not(.button) {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            color: var(--color-blue);

            &:hover {
                color: var(--color-red);
            }
        }
    }
}
