<section class="error-404 section">
    <div class="container">
        <div class="error-404-inner">
            <div class="code" aria-hidden="true">404</div>
            <h1>Ой, кажется, эта страница не работает</h1>
            <p class="text">
                Зато мы работаем и вы можете вернуться&nbsp;назад или перейти на <a href="./home.html">главную</a>
            </p>
        </div>
    </div>
</section>
