{% set meta = { title: "Каталог" } %}
{% set page = { breadcrumbs: true, heading: false } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Каталог" }
    ]
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    <section class="section">
        <div class="container">
            <p class="page-stub">Здесь будет каталог.</p>
        </div>
    </section>
{% endblock %}
