{% set meta = { title: "Дипломы и сертификаты" } %}
{% set page = { breadcrumbs: true, heading: false } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Дипломы и сертификаты" }
    ]
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/certificates/certificates.njk" %}
{% endblock %}
