{% set meta = { title: "Контакты" } %}
{% set page = { breadcrumbs: true, heading: false } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Контакты" }
    ]
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/contacts-page/contacts-page.njk" %}
{% endblock %}
