{% set meta = { title: "Доставка и оплата" } %}
{% set page = { breadcrumbs: true, heading: false } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Доставка и оплата" }
    ]
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/delivery-page/delivery-page.njk" %}
{% endblock %}
