{% set meta = { title: "Ошибка 404" } %}
{% set page = { breadcrumbs: false, heading: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/error-404/error-404.njk" %}
{% endblock %}
