{% set meta = { title: "Главная" } %}
{% set page = { breadcrumbs: false, heading: false } %}
{% extends "layouts/default.njk" %}
{% block content %}
    <section class="section">
        <div class="container">
            <p class="page-stub">Здесь будет главная страница.</p>
        </div>
    </section>
{% endblock %}
