{% set meta = { title: "Акции" } %}
{% set page = { breadcrumbs: true, heading: false } %}
{% set breadcrumbs = {
    items: [
        { title: "Главная", url: "./home.html" },
        { title: "Акции" }
    ]
} %}
{% extends "layouts/default.njk" %}
{% block content %}
    {% include "blocks/common/promotions-page/promotions-page.njk" %}

    {% set helpShortIsCategory = true %}
    {% set helpShortFormId = "help-promotions" %}
    {% set helpShortButtonText = "Задать вопрос" %}
    {% include "blocks/common/help-short/help-short.njk" %}
{% endblock %}
