<div id="popup-callback" class="popup-callback">
    <button type="button" class="popup-close" data-fancybox-close aria-label="Закрыть">
        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none" aria-hidden="true">
            <path d="M1.19946 1.19997L15.9121 16.3724L1.19946 31.5448" stroke="#134A9B" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M31.5447 31.5448L16.832 16.3724L31.5447 1.19995" stroke="#134A9B" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </button>
    <div class="block">
        <div class="heading">
            <div class="title">Заказать звонок</div>
        </div>
        <div class="frame">
            {% include "components/general/form/form-3.njk" %}
        </div>
    </div>
</div>