<section class="policy-content section is-page-head">
    <div class="container">
        <h1 class="title">Политика обработки персональных данных</h1>

        <h2>1. Общие положения</h2>
        <p>
            При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора, что ведёт к
            уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции, либо к ее замене. Также
            необходимо знать, что засоренные воздуховоды систем вентиляции повышают вероятность возникновения пожаров,
            ведь накопленные отложения легко воспламеняются, и вместе с воздухом внутри воздуховодов огонь может быстро
            распространяться по всему зданию. Несвоевременная замена фильтров может создать идеальную почву для роста
            опасных для человека клещей, бактерий, грибов и микроорганизмов.
        </p>
        <p>
            Если не следить за системой, то со временем микроорганизмы и бактерии могут разлететься с воздухом в
            помещении, что может привести к тяжелейшим заболеваниям, а большинство инфекционных заболеваний могут
            распространяться через вентиляцию от больного к здоровому человеку. Естественно, не качество воздуха
            является единственной причиной таких заболеваний, но играет большую роль в распространении и их развитию —
            это один из главных причин, для чего нужно следить за состоянием фильтров!
        </p>

        <h2>2. Заголовок</h2>
        <p>
            При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора, что ведёт к
            уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции, либо к ее замене. Также
            необходимо знать, что засоренные воздуховоды систем вентиляции повышают вероятность возникновения пожаров,
            ведь накопленные отложения легко воспламеняются, и вместе с воздухом внутри воздуховодов огонь может быстро
            распространяться по всему зданию. Несвоевременная замена фильтров может создать идеальную почву для роста
            опасных для человека клещей, бактерий, грибов и микроорганизмов.
        </p>
        <p>
            Если не следить за системой, то со временем микроорганизмы и бактерии могут разлететься с воздухом в
            помещении, что может привести к тяжелейшим заболеваниям, а большинство инфекционных заболеваний могут
            распространяться через вентиляцию от больного к здоровому человеку. Естественно, не качество воздуха
            является единственной причиной таких заболеваний, но играет большую роль в распространении и их развитию —
            это один из главных причин, для чего нужно следить за состоянием фильтров!
        </p>

        <h2>3. Заголовок</h2>
        <p>
            При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора, что ведёт к
            уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции, либо к ее замене. Также
            необходимо знать, что засоренные воздуховоды систем вентиляции повышают вероятность возникновения пожаров,
            ведь накопленные отложения легко воспламеняются, и вместе с воздухом внутри воздуховодов огонь может быстро
            распространяться по всему зданию. Несвоевременная замена фильтров может создать идеальную почву для роста
            опасных для человека клещей, бактерий, грибов и микроорганизмов.
        </p>
        <p>
            Если не следить за системой, то со временем микроорганизмы и бактерии могут разлететься с воздухом в
            помещении, что может привести к тяжелейшим заболеваниям, а большинство инфекционных заболеваний могут
            распространяться через вентиляцию от больного к здоровому человеку. Естественно, не качество воздуха
            является единственной причиной таких заболеваний, но играет большую роль в распространении и их развитию —
            это один из главных причин, для чего нужно следить за состоянием фильтров!
        </p>

        <h2>4. Заголовок</h2>
        <p>
            При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора, что ведёт к
            уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции, либо к ее замене. Также
            необходимо знать, что засоренные воздуховоды систем вентиляции повышают вероятность возникновения пожаров,
            ведь накопленные отложения легко воспламеняются, и вместе с воздухом внутри воздуховодов огонь может быстро
            распространяться по всему зданию. Несвоевременная замена фильтров может создать идеальную почву для роста
            опасных для человека клещей, бактерий, грибов и микроорганизмов.
        </p>
        <p>
            Если не следить за системой, то со временем микроорганизмы и бактерии могут разлететься с воздухом в
            помещении, что может привести к тяжелейшим заболеваниям, а большинство инфекционных заболеваний могут
            распространяться через вентиляцию от больного к здоровому человеку. Естественно, не качество воздуха
            является единственной причиной таких заболеваний, но играет большую роль в распространении и их развитию —
            это один из главных причин, для чего нужно следить за состоянием фильтров!
        </p>

        <h2>5. Заголовок</h2>
        <p>
            При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора, что ведёт к
            уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции, либо к ее замене. Также
            необходимо знать, что засоренные воздуховоды систем вентиляции повышают вероятность возникновения пожаров,
            ведь накопленные отложения легко воспламеняются, и вместе с воздухом внутри воздуховодов огонь может быстро
            распространяться по всему зданию. Несвоевременная замена фильтров может создать идеальную почву для роста
            опасных для человека клещей, бактерий, грибов и микроорганизмов.
        </p>
        <p>
            Если не следить за системой, то со временем микроорганизмы и бактерии могут разлететься с воздухом в
            помещении, что может привести к тяжелейшим заболеваниям, а большинство инфекционных заболеваний могут
            распространяться через вентиляцию от больного к здоровому человеку. Естественно, не качество воздуха
            является единственной причиной таких заболеваний, но играет большую роль в распространении и их развитию —
            это один из главных причин, для чего нужно следить за состоянием фильтров!
        </p>
    </div>
</section>