@use "core/breakpoints" as bp;

.policy-content {
    padding-bottom: 60px;
    color: var(--color-black);
    background: var(--color-white);

    @include bp.mq(laptop) {
        padding-bottom: 40px;
    }

    @include bp.mq(tablet-l) {
        padding-bottom: 32px;
    }

    .title {
        margin: 0 0 26px;
        font-size: var(--font-size-h1);
        font-weight: 500;
        line-height: normal;
        color: #37383a;

        @include bp.mq(laptop) {
            margin-bottom: 20px;
        }

        @include bp.mq(tablet-l) {
            font-size: 38px;
        }

        @include bp.mq(tablet) {
            margin-bottom: 24px;
        }

        @include bp.mq(mobile-l) {
            margin-bottom: 20px;
        }
    }

    h2 {
        margin: 32px 0 16px;
        font-size: 38px;
        font-weight: 500;
        line-height: normal;
        color: #37383a;

        @include bp.mq(laptop) {
            margin: 24px 0 16px;
            font-size: 28px;
        }

        @include bp.mq(tablet-l) {
            font-size: 24px;
        }
    }

    .title + h2 {
        margin-top: 0;
    }

    p {
        margin: 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        color: #37383a;

        @include bp.mq(laptop) {
            font-size: 16px;
        }

        @include bp.mq(tablet-l) {
            font-size: 15px;
        }
    }

    p + p {
        margin-top: 16px;
    }

    a {
        color: var(--color-blue);
        text-decoration: none;
        transition: color 0.25s ease;

        &:hover {
            color: var(--color-red);
        }
    }

    ul,
    ol {
        padding-left: 24px;
        margin: 16px 0 0;
        font-size: 18px;
        font-weight: 400;
        line-height: 140%;
        color: #37383a;

        @include bp.mq(laptop) {
            font-size: 16px;
        }

        @include bp.mq(tablet-l) {
            font-size: 15px;
        }

        ul,
        ol {
            margin-top: 8px;
        }
    }

    ul {
        list-style: disc outside;
    }

    ol {
        padding-left: 26px;
        list-style: decimal outside;
    }

    ul ul {
        list-style: circle;
    }

    ul ul ul {
        list-style: square;
    }

    ol ol {
        list-style: lower-alpha;
    }

    ol ol ol {
        list-style: lower-roman;
    }

    li {
        padding-left: 4px;
    }

    li + li {
        margin-top: 8px;
    }

    li > p {
        margin: 0;
    }

    ul + p,
    ol + p,
    p + ul,
    p + ol {
        margin-top: 16px;
    }

    strong {
        font-weight: 600;
    }
}
