@use "core/breakpoints" as bp;

.consent-notice {
    position: fixed;
    bottom: 324px;
    left: 50%;
    z-index: 100;
    display: none;
    width: min(718px, calc(100% - 60px));
    padding: 14px 22px;
    background: var(--color-white);
    border-radius: 2px;
    box-shadow: 0 4px 33.1px -7px rgb(0 0 0 / 25%);
    backdrop-filter: blur(8.55px);
    transform: translateX(-50%);

    &.is-visible {
        display: flex;
    }

    .inner {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;
        width: 100%;
    }

    .text {
        font-family: var(--font-family-primary);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--color-black);

        a:not(.button) {
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
            color: var(--color-red);
            text-decoration: none;

            &:hover {
                color: var(--color-red-hover);
            }
        }
    }

    .action.button {
        flex: 0 0 auto;
        width: 218px;
        height: 48px;
        padding: 18px 20px;
        font-size: 18px;
    }

    @include bp.mq(tablet) {
        top: 50%;
        bottom: auto;
        width: min(344px, calc(100% - 30px));
        padding: 15px;
        transform: translate(-50%, -50%);

        .inner {
            gap: 15px;
        }

        .text {
            font-size: 15px;
            color: #2f3645;
        }

        .action.button {
            width: 110px;
            height: auto;
            padding: 8px 10px;
            font-size: 15px;
        }
    }
}
