{% set geographyShortTitle = geographyShortTitle | default("География поставок") %}
{% set geographyShortLeadHtml = geographyShortLeadHtml | default('Компания “Промрегионтара” <strong>специализируется на комплексных поставках упаковочных материалов по всей России</strong>.') %}
{% set geographyShortClientsTitle = geographyShortClientsTitle | default("Среди наших постоянных клиентов крупные предприятия:") %}
{% set geographyShortClientsItems = geographyShortClientsItems | default([
    {
        icon: "./assets/images/content/geography-short/icon-appliance.svg",
        iconWidth: "21",
        iconHeight: "24",
        text: "в сфере производства бытовой техники,"
    },
    {
        icon: "./assets/images/content/geography-short/icon-fertilizer.svg",
        iconWidth: "26",
        iconHeight: "26",
        text: "минеральных удобрений,"
    },
    {
        icon: "./assets/images/content/geography-short/icon-pharma.svg",
        iconWidth: "24",
        iconHeight: "25",
        text: "фармацевтики,"
    },
    {
        icon: "./assets/images/content/geography-short/icon-construction.svg",
        iconWidth: "23",
        iconHeight: "22",
        text: "строительных материалов,"
    },
    {
        icon: "./assets/images/content/geography-short/icon-auto.svg",
        iconWidth: "23",
        iconHeight: "23",
        text: "автопрома."
    }
]) %}
{% set geographyShortNoteHtml = geographyShortNoteHtml | default("Мы ценим доверие наших партнеров и обеспечиваем бесперебойные поставки в любой регион России.") %}
{% set geographyShortMapImage = geographyShortMapImage | default("./assets/images/content/geography-short/map.png") %}

<section class="geography-short section">
    <div class="container">
        <h2 class="title">{{ geographyShortTitle }}</h2>

        <div class="geography-short-inner">
            <div class="geography-short-content">
                <p class="lead">{{ geographyShortLeadHtml | safe }}</p>

                <p class="clients-title">{{ geographyShortClientsTitle }}</p>

                <ul class="clients-list">
                    {% for item in geographyShortClientsItems %}
                        <li>
                            <img
                                class="clients-icon"
                                src="{{ item.icon }}"
                                width="{{ item.iconWidth }}"
                                height="{{ item.iconHeight }}"
                                alt=""
                                aria-hidden="true"
                            />
                            <span>{{ item.text }}</span>
                        </li>
                    {% endfor %}
                </ul>

                <p class="note">{{ geographyShortNoteHtml | safe }}</p>
            </div>

            <div class="geography-short-map" aria-hidden="true">
                <picture class="lazy-loader">
                    <img
                        class="lazy"
                        src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                        data-src="{{ geographyShortMapImage }}"
                        alt=""
                        width="1241"
                        height="623"
                    />
                </picture>
            </div>
        </div>
    </div>
</section>
