{% from "components/general/button/button.njk" import render as button %}
{% from "components/general/icons/button-icon.njk" import render as buttonIcon %}

{% set newsDetailTitle = newsDetailTitle | default("Название новости может быть в две или три строки может быть в две строки") %}
{% set newsDetailImage = newsDetailImage | default("./assets/images/content/news-detai-img.jpg") %}
{% set newsDetailImageAlt = newsDetailImageAlt | default(newsDetailTitle) %}
{% set newsDetailBackUrl = newsDetailBackUrl | default("./news.html") %}

<section class="news-detail section">
    <div class="container">
        <h1>{{ newsDetailTitle }}</h1>
        <div class="news-detail-inner">
            <div class="media">
                <img
                    class="lazy"
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                    data-src="{{ newsDetailImage }}"
                    alt="{{ newsDetailImageAlt }}"
                    width="560"
                    height="570"
                />
            </div>
            <div class="content">
                <div class="text">
                    <p>
                        При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора,
                        что ведёт к уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции,
                        либо к ее замене. Также необходимо знать, что засоренные воздуховоды систем вентиляции повышают
                        вероятность возникновения пожаров, ведь накопленные  отложения легко воспламеняются, и вместе с
                        воздухом внутри воздуховодов огонь может быстро распространяться по всему зданию.
                        Несвоевременная замена фильтров может создать идеальную почву для роста опасных для человека
                        клещей, бактерий, грибов и микроорганизмов.
                    </p>
                    <p>
                        Если не следить за системой, то со временем микроорганизмы и бактерии могут разлететься
                        с воздухом в помещения, что может привести к тяжелейшим заболеваниям, а большинство инфекционных
                        заболеваний могут распространяться через вентиляцию от больного к здоровому человеку.
                        Естественно, не качество воздуха является единственной причиной таких заболеваний, но играет
                        большую роль в распространении и их развитию — это один из главных причин, для чего нужно
                        следить за состоянием фильтров!.
                    </p>
                    <p>
                        При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора,
                        что ведёт к уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции,
                        либо к ее замене. Также необходимо знать, что засоренные воздуховоды систем вентиляции повышают
                        вероятность возникновения пожаров, ведь накопленные  отложения легко воспламеняются, и вместе с
                        воздухом внутри воздуховодов огонь может быстро распространяться по всему зданию.
                        Несвоевременная замена фильтров может создать идеальную почву для роста опасных для человека
                        клещей, бактерий, грибов и микроорганизмов.
                    </p>
                    <p>
                        При использовании систем вентиляции в воздуховодах накапливаются частички пыли, жира и мусора,
                        что ведёт к уменьшению качества воздуха в помещении и необходимости очистки фильтров вентиляции,
                        либо к ее замене. Также необходимо знать, что засоренные воздуховоды систем вентиляции повышают
                        вероятность возникновения пожаров, ведь накопленные  отложения легко воспламеняются, и вместе с
                        воздухом внутри воздуховодов огонь может быстро распространяться по всему зданию.
                        Несвоевременная замена фильтров может создать идеальную почву для роста опасных для человека
                        клещей, бактерий, грибов и микроорганизмов. Если не следить за системой, то со временем
                        микроорганизмы и бактерии могут разлететься с воздухом в помещения, что может привести к
                        тяжелейшим заболеваниям, а большинство инфекционных заболеваний могут распространяться через
                        вентиляцию от больного к здоровому человеку. Естественно, не качество воздуха является
                        единственной причиной таких заболеваний, но играет большую роль в распространении и их развитию
                        — это один из главных причин, для чего нужно следить за состоянием фильтров!.
                    </p>
                </div>
                <div class="actions">
                    {{ button(
                        text="Назад",
                        type="link",
                        href=newsDetailBackUrl,
                        icon=buttonIcon()
                    ) }}
                </div>
            </div>
        </div>
    </div>
</section>