<div id="popup-success" class="popup-success" data-popup-success>
    <div class="block">
        <div class="heading">
            <div class="heading-top">
                <div class="heading-bar">
                    <button type="button" class="popup-close" data-fancybox-close aria-label="Закрыть">
                        <svg xmlns="http://www.w3.org/2000/svg" width="33" height="33" viewBox="0 0 33 33" fill="none" aria-hidden="true">
                            <path d="M1.2 1.2L15.913 16.372L1.2 31.545" stroke="#134A9B" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M31.545 31.545L16.833 16.372L31.545 1.2" stroke="#134A9B" stroke-width="2.4" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
                <div class="title">Заказать звонок</div>
            </div>
        </div>

        <div class="content">
            <p class="message">Ваш запрос был успешно отправлен!</p>
            <p class="text">
                <span class="accent">Спасибо!</span>
                Наш специалист скоро свяжется с вами для уточнения деталей.
            </p>
        </div>
    </div>
</div>
