{% from "components/general/icons/corner-icon.njk" import render as cornerIcon %}

{% set aboutDescriptionStats = [
    { value: "25 000+", label: "выполненных заказов" },
    { value: "18 лет", label: "стаж работы" },
    { value: "500+", label: "клиентов в год" },
    { value: "58", label: "профессиональных сотрудников" }
] %}

<section class="about-description section">
    <div class="container">
        <div class="about-description-inner">
            <div class="content">
                <h1>О компании</h1>
                <div class="text">
                    <p>
                        Компания давно и успешно работает на рынке металлообработки города Санкт-Петербург. Мы оказываем
                        только качественные услуги и используем гибкую ценовую политику, благодаря чему пользуемся среди
                        клиентов заслуженно высокой репутацией. Спектр направлений нашей работы отличается большим
                        разнообразием – до выполнения самых сложных видов обработки металла
                    </p>
                    <p>
                        Основное направление деятельности нашего предприятия - это обработка металла любой сложности.
                        Наши специалисты выполняют большой перечень работ по металлообработке в Санкт-Петербурге,
                        раскрой металла с минимальным количеством отходов.
                    </p>
                </div>
            </div>
            <div class="media">
                <img
                    class="lazy"
                    src="data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='1'%20height='1'/%3E"
                    data-src="./assets/images/content/about-description-img.jpg"
                    alt="Производство Prtara"
                    width="700"
                    height="700"
                />
            </div>
            <div class="stats">
                {% for stat in aboutDescriptionStats %}
                    <div class="stat">
                        <div class="value">
                            <span class="corner tl">{{ cornerIcon() }}</span>
                            <span class="corner tr">{{ cornerIcon() }}</span>
                            <span class="corner br">{{ cornerIcon() }}</span>
                            <span class="corner bl">{{ cornerIcon() }}</span>
                            {{ stat.value }}
                        </div>
                        <div class="label">{{ stat.label }}</div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>