@use "core/breakpoints" as bp;

.navigation-top {
    ul {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        padding: 0;
        margin: 0;
        list-style: none;

        > li {
            a {
                font-family: var(--font-family-primary);
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                color: var(--color-blue);
                white-space: nowrap;
                text-decoration: none;
                transition: color 0.3s ease;

                &:hover {
                    color: var(--color-red);
                    text-decoration: none;
                }
            }
        }
    }

    @include bp.mq(laptop-m) {
        ul {
            gap: 16px;

            > li a {
                font-size: 16px;
            }
        }
    }

    @include bp.mq(tablet-l) {
        ul > li a {
            font-size: 15px;
        }
    }
}
