@use "core/breakpoints" as bp;

.news-short {
    color: var(--color-3);
    background: var(--color-2);

    .swiper {
        width: 100%;
        margin-bottom: 40px;

        @include bp.mq(mobile-l) {
            margin-bottom: 37px;
        }

        &:last-child {
            margin-bottom: 0;
        }

    }

    .list {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 20px;

        @include bp.mq(tablet-xl) {
            box-sizing: content-box;
            display: flex;
            gap: 0;
        }
    }

    .swiper-slide {
        height: auto;

        @include bp.mq(tablet-xl) {
            padding: 16px 0 24px;
            box-sizing: border-box;
            width: auto;

            &:first-child {
                padding-left: 16px;
            }

            &:last-child {
                padding-right: var(--container-padding);
            }
        }

        .news-card {
            height: 100%;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
    }

    @include bp.mq(mobile-xl) {
        > .container {
            padding-right: 0;
        }

        h2,
        .actions {
            padding-right: var(--container-padding);
        }
    }
}
